.campaign{
    border: 1px solid black;
    margin: 2% auto;
    display: block;
}
.campaign:hover{
    border: 2px solid blue;
    margin: 2% auto;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
a span{
    display: block;
}
